In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:

file_path = '/content/gdrive/My Drive/IS 497 - Marketing Analytics/Membership_Updated.xlsx'

# Load the Excel file into a pandas dataframe
member = pd.read_excel(file_path)

In [ ]:
member.head()

,Lookup ID,Age,Gender,Marital status,City,State,Country,Email,Class of,College,Degree,Enrolled Via,Enrollment Date,Total Donation Amount,Cumulative Lifetime Donation Years,Consecutive Years of Giving,If Donated
0,11488038,72,Male,Married,Clinton,Illinois,United States,Yes,1972.0,"1KL-Agr, Consumer, & Env Sciences",BS: Bachelor of Science,No record,1900-01-01,0.00,0,0,0
1,13663683,28,Male,Unknown,Chengdu,Sichuan,China,Yes,2018.0,1KU-Law,LLM: Master of Laws,No record,1900-01-01,0.00,0,0,0
2,11535019,70,Female,Married,Evergreen Park,Illinois,United States,Yes,1974.0,NaN,BA: Bachelor of Arts,No record,1900-01-01,0.00,0,0,0
3,12068148,59,Male,Married,Coronado,California,United States,Yes,1986.0,1KY-Applied Health Sciences,BS: Bachelor of Science,No record,1900-01-01,0.00,0,0,0
4,11434386,76,Female,Widow/er,Elk Grove Village,Illinois,United States,Yes,NaN,NaN,NaN,Main site,2022-02-08,17114.83,39,24,1

In [ ]:
# member[member.columns[member.isnull().any()]].isnull().sum()

In [ ]:
# member_cleaned = member.drop(columns=['Email', 'Enrolled Via','Enrollment Date'])

In [ ]:
# member_cleaned.columns

In [ ]:
# member_cleaned[member_cleaned.columns[member_cleaned.isnull().any()]].isnull().sum()

In [ ]:
# member['Gender'] = member['Gender'].replace(['Unknown', 'Male', 'Female'], [0, 1, 2])

In [ ]:
member['Gender'] = pd.factorize(member['Gender'])[0]
member['Marital status'] = pd.factorize(member['Marital status'])[0]
member['City'] = pd.factorize(member['City'])[0]
member['State'] = pd.factorize(member['State'])[0]
member['Country'] = pd.factorize(member['Country'])[0]
member['Class of'] = pd.factorize(member['Class of'])[0]
member['College'] = pd.factorize(member['College'])[0]
member['Degree'] = pd.factorize(member['Degree'])[0]
member['Enrolled Via'] = pd.factorize(member['Enrolled Via'])[0]

# Create X and y variables
X = member[['Age', 'Gender', 'Marital status', 'City',	'State',	'Country',	'Class of',	'College',	'Degree','Enrolled Via']]
y = member['If Donated']

# Fit logistic regression model
model = sm.Logit(y, X).fit()

# Print model summary
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.497405
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:             If Donated   No. Observations:                  770
Model:                          Logit   Df Residuals:                      760
Method:                           MLE   Df Model:                            9
Date:                Wed, 26 Apr 2023   Pseudo R-squ.:                0.009543
Time:                        23:43:31   Log-Likelihood:                -383.00
converged:                       True   LL-Null:                       -386.69
Covariance Type:            nonrobust   LLR p-value:                    0.5976
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Age               -0.0072      0.003     -2.320      0.020      -0.013      -0.001
Gender            -0.3214      0.167     -1.919      0.055      -0.650       0.007
Marital status    -0.2305      0.075     -3.060      0.002      -0.378      -0.083
City              -0.0033      0.001     -4.689      0.000      -0.005      -0.002
State              0.0109      0.008      1.357      0.175      -0.005       0.027
Country            0.1727      0.103      1.681      0.093      -0.029       0.374
Class of           0.0020      0.005      0.409      0.683      -0.008       0.012
College           -0.0503      0.026     -1.937      0.053      -0.101       0.001
Degree            -0.0100      0.012     -0.856      0.392      -0.033       0.013
Enrolled Via       0.1425      0.081      1.769      0.077      -0.015       0.300
==================================================================================

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = logreg.predict(X_test)

# Evaluate the model
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[126   0]
 [ 28   0]]
              precision    recall  f1-score   support

           0       0.82      1.00      0.90       126
           1       0.00      0.00      0.00        28

    accuracy                           0.82       154
   macro avg       0.41      0.50      0.45       154
weighted avg       0.67      0.82      0.74       154

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))